In [23]:
import pandas as pd
import numpy as np

In [27]:
cd Desktop\Springboard\assignments\Capstone Project 2

In [25]:
#load in datasets
fake = pd.read_csv('data\Fake.csv')
real = pd.read_csv('data\True.csv')

In [26]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [28]:
real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [29]:
#Function returns True if text starts with an upper case word
def uppercase(text):
    words = text.split()
    if len(words) >0:
        return words[0].isupper()
    else:
        return False
    
real['uppercase'] =  real.text.apply(uppercase)

In [30]:
#True if the text contains the string '(Reuters)'
real['reuters'] = real.text.str.contains('\(Reuters\)')

In [31]:
#True if text contains an uppercase first word or reuters string
real['reuters_upper'] = (real.uppercase == True) | (real.reuters == True)

In [32]:
#strip beginning of rows in real with LOCATION (Reuters) format
def strip_beginning(row, reuters_upper, text):
    if row[reuters_upper]:
        return row[text].partition('- ')[2]
    else:
        return row[text]
    
#overwrite text column with beginning stripped
real['text'] = real.apply(lambda x: strip_beginning(x,'reuters_upper', 'text'), axis=1)

In [33]:
#drop dummy variables
real.drop(['uppercase', 'reuters', 'reuters_upper'], axis=1, inplace=True)

In [34]:
#create label column: 1 if fake, 0 if True
fake['label']= 1
real['label'] = 0

In [35]:
#combine datasets
df = pd.concat([fake, real], ignore_index=True)

In [36]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [39]:
#drop duplicates with the same title and text
dup = df[df.duplicated(['title', 'text'])]
dup

,title,text,subject,date,label
9942,HILLARY TWEETS MESSAGE In Defense Of DACA…OOPS...,No time to waste we've got to fight with eve...,politics,"Sep 9, 2017",1
11446,FORMER DEMOCRAT WARNS Young Americans: “Rioter...,"Who is silencing political speech, physically...",politics,"Mar 10, 2017",1
14925,[VIDEO] #BlackLivesMatter Terrorists Storm Dar...,They were probably just looking for a safe sp...,politics,"Nov 16, 2015",1
15892,HOUSE INTEL Slaps Subpoenas on McCain Institut...,Please see our previous report below on the Mc...,Government News,"Dec 27, 2017",1
15893,PRICELESS! WATCH MSNBC HOST’S Shocked Response...,THIS IS PRICELESS! The video below shows just ...,Government News,"Dec 26, 2017",1
...,...,...,...,...,...
44709,France unveils labor reforms in first step to ...,French President Emmanuel Macron s government ...,worldnews,"August 31, 2017",0
44744,Guatemala top court sides with U.N. graft unit...,Guatemala s top court on Tuesday ruled definit...,worldnews,"August 29, 2017",0
44771,"Europeans, Africans agree renewed push to tack...",Europe s big four continental powers and thr...,worldnews,"August 28, 2017",0
44834,Thailand's ousted PM Yingluck has fled abroad:...,Ousted Thai prime minister Yingluck Shinawatra...,worldnews,"August 25, 2017",0
44889,"U.S., North Korea clash at U.N. forum over nuc...",North Korea and the United States clashed at a...,worldnews,"August 22, 2017",0

In [40]:
df.drop(dup.index, inplace=True)

In [41]:
df.reset_index(drop=True)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
39100,'Fully committed' NATO backs new U.S. approach...,NATO allies on Tuesday welcomed President Dona...,worldnews,"August 22, 2017",0
39101,LexisNexis withdrew two products from Chinese ...,"LexisNexis, a provider of legal, regulatory an...",worldnews,"August 22, 2017",0
39102,Minsk cultural hub becomes haven from authorities,In the shadow of disused Soviet-era factories ...,worldnews,"August 22, 2017",0
39103,Vatican upbeat on possibility of Pope Francis ...,Vatican Secretary of State Cardinal Pietro Par...,worldnews,"August 22, 2017",0
39104,Indonesia to buy $1.14 billion worth of Russia...,Indonesia will buy 11 Sukhoi fighter jets wort...,worldnews,"August 22, 2017",0

In [42]:
#export combined data
df.to_csv('data\combined.csv')